
body {
    text-align: center;
    background-color: #ff6600;
}

div {
    height: 40px;
}

#butt {
    margin-top: 20px;
    padding: 10px;
    font-size: 15px;
}
hr{
    width: 900px;
}
